html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    height: 100%;
    padding-top: 110px;
    background-color: #51f8d4;
    width: 100%;
    clear: both;
}

header.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    background-color: #41c0a5;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .1);
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 100;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}
.clearfix{
    color: #1b6e5c;
    font-weight: 900;
    opacity: 0.8;
    font-size: 60px;
    margin-bottom: 30px;
}
#conteudo2{ 
    display: none;
}

footer {
    clear: both;
}

span {
    font-weight: 700;
    color: #ffffff;
    /* color: #088000;*/
}

.spanProdutos{
    font-weight: 700;
    color: #088000;
}

input{
    padding: 9px;
    padding-left: 40px;
    border-radius: 20px;
    border-color: transparent;
}
.container-header {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    position: relative;
}
footer {
    background: #1b6e5c;
    padding: 20px;

    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
}
footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(270deg, #51f8d4, #1b6e5c)
}

footer .brand {
    text-align: center;
    display: block;
}

footer .copyright {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    display: block;
    text-decoration: none;
}

footer .logo {
    width: 246px;
    margin: 0 auto;
}

footer hr {
    display: block;
    height: 1px;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
    margin: 20px 150px;
}

.logo-header {
    width: 240px;
    height: auto;
    margin: 0 auto;
}

.right-side {
    margin-left: auto
}

.left-side {
    margin-right: auto
}

.btn-menu {
    display: inline-block;
    width: 50px;
    height: 56px;
    text-align: center;
    background: 0 0;
    border: none;
    border-radius: 4px;
    transition: all .4s ease;
    cursor: pointer;
    padding-bottom: 10px;
}

.btn-menu:hover {
    background-color: #1b6e5c;
}

.btn-login{
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    background: 0 0;
    border: none;
    border-radius: 20px;
    transition: all .4s ease;
    cursor: pointer;
    color: #41c0a5;
    background-color: #1b6e5c;
    font-size: 20px;
    font-weight: bold;
}

.btn-login:hover{
    background-color: #ffffff;
    font-weight: bold;
}

.btn-login:hover a, .btn-login:hover .icon-menu {
    color: #41c0a5;
}
.box-menu {
	float: left;
	display: block;
	position: relative;
}

.box-menu > a {
	padding: 10px 40px;
	display: block;
}
.btn-menu:hover .submenu {
    display:block;
    
}

.submenu {
    padding-inline-start: 0px;
    position: absolute;
    display:none;
    top: 9px;
    left: 0px;
    width: 140px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    border-radius: 10px;
    background: #1b6e5c;
    font-weight: bold;
}

.submenu li {
	display: block;
}

.submenu li a {
	padding: 10px 0px;
	display: block;
}

.icon-menu{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #ffffff;
}
li:hover a {
    background: #fff;
    color: #1b6e5c;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}


.navigation ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 13px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #1b6e5c;
}

.icon-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}

.btn-menu .icon-menu {
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #ffffff;
}

.btn-menu .text-menu {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}
.list-group{
    max-width: 220px;
    max-height: 297px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .6);
    float: left;
    display: inline-block;
    margin: 10px;
}
.list-group-item{
    border: none;
}
.list-group-item:nth-child(2){
    font-size: 19px;
}
#telaprodutos img {
    border-radius: 50%;
    border: solid 2px #088000;
    max-width: 150px;
}
.check-box { 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 10px;
    min-height: 40px;
    -webkit-tap-highlight-color: transparent;
}

.check-box input { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.check-box input:checked + label {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .4)
}

.check-box input:checked + label .icon-text {
    color: #344fa5;
    font-weight: 600;
}

.check-box input:checked + label .icon:before {
    content: "";
    color: #344fa5;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../imagens/icon/checkbox-on.svg) no-repeat 50%;
    margin-top: 2px;
}

.check-box label {
    padding: 8px 20px;
    border-radius: 18px;
    background-color: #fff;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
}

.check-box .icon-menu span{
    text-align: center;
    color: #90a4ae;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
}

.check-box .icon-menu .icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F096"
}

.check-box .icon-text {
    font-size: 16px;
    font-weight: 300;
    color: #546e7a;
    display: inline-block;
    vertical-align: middle;
}

.check-box:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.all {
    padding-top: 50px;
    min-height: 100%;
    position: relative;
}

.buscar {
    color: #fff;
    background-color: #2a7766;
    border-color: transparent;
    border-radius: 10px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
}

.entrar{
    color: #fff;
    background-color: #2a7766;
    border-color: transparent;
    border-radius: 10px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    text-align: center;
    padding-left: 10px;
}


.linha {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.login-senha {
    position: relative;
    width: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.login {
    position: absolute;
    left: 0;
    top: 0;
    background: 0 0;
    border: none;
    color: rgb(126, 119, 119);
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: color .3s;
    z-index: 99;  
}

.container {
    display: block;
}

.conteudo {
    max-width: 760px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    padding-bottom: 50px;
}

.conteudo h3, h4{
    margin-top: 20px;
    margin-bottom: 0;
    color: #1b6e5c
}

/*ESTILO PARA FORM DE FAZER CADASTRO  */

form.form-cadastro {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    text-align: center;

}
form.form-cadastro fieldset {
    background: #fff;

    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
}

form.form-cadastro fieldset:not(:first-of-type) {
    display: none;
}
form.form-cadastro input, form.form-cadastro textarea {
    padding: 10px;
    border: 1px solid #2a7766;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px tahoma;
    margin-bottom: 10px;
}

form.form-cadastro h2, form.form-cadastro h3 {
    font-size: 20px;
    float: left;
    margin-top: 0;
    margin-bottom: 4%;
}

form.form-cadastro .acao {
    width: 100px;
    background: #2a7766;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 12px 0;
    margin-right: 20px;
}
form.form-cadastro .progresso {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
form.form-cadastro ul{
    padding-left: 10px;
}
form.form-cadastro .progresso li{
    list-style-type: none;
    color: #2a7766;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    float: left;
    width: 33.33%;
    position: relative;    
}
form.form-cadastro #progresso-anuncio li{
    width: 20%;
}
form.form-cadastro .progresso li:before{
    content: counter(step);
    counter-increment: step;
    width: 40px;
    display: block;
    line-height: 40px;
    background: #fff;
    color: #2a7766;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    margin: 0 auto 10px;
}
form.form-cadastro .progresso li:after {
    content: '';
    width: 100%;
    background: #fff;
    height: 2px;
    position: absolute;
    top: 20px;
    left: -50%;
    z-index: -1;
}
form.form-cadastro .progresso li:first-child:after {
    content: none;
}
form.form-cadastro .progresso li.ativo:after, form.form-cadastro .progresso li.ativo:before {
    background: #2a7766;
    color: #fff;
    text-shadow: 0 2px 0;
}

/*ESTILO PARA FORM DE CRIAR ANÚNCIO  */
form.form-anuncio {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    text-align: center;

}
form.form-anuncio fieldset {
    background: #fff;

    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
}

form.form-anuncio fieldset:not(:first-of-type) {
    display: none;
}
form.form-anuncio input, form.form-anuncio textarea {
    padding: 10px;
    border: 1px solid #2a7766;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px tahoma;
    margin-bottom: 10px;
}

form.form-anuncio h2, form.form-anuncio h3 {
    font-size: 20px;
    float: left;
    margin-top: 0;
    margin-bottom: 4%;
}

form.form-anuncio .acao {
    width: 100px;
    background: #2a7766;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 12px 0;
    margin-right: 20px;
}
form.form-anuncio .progresso {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
form.form-anuncio ul{
    padding-left: 10px;
}
form.form-anuncio .progresso li{
    list-style-type: none;
    color: #2a7766;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    float: left;
    width: 20.33%;
    position: relative;    

}
form.form-anuncio .progresso li:before{
    content: counter(step);
    counter-increment: step;
    width: 40px;
    display: block;
    line-height: 40px;
    background: #fff;
    color: #2a7766;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    margin: 0 auto 10px;
}
form.form-anuncio .progresso li:after {
    content: '';
    width: 100%;
    background: #fff;
    height: 2px;
    position: absolute;
    top: 20px;
    left: -50%;
    z-index: -1;
}
form.form-anuncio .progresso li:first-child:after {
    content: none;
}
form.form-anuncio .progresso li.ativo:after, form.form-anuncio .progresso li.ativo:before {
    background: #2a7766;
    color: #fff;
    text-shadow: 0 2px 0;
}


.erro-css {
    background: #f13e3e;
    color: white;
    font-weight: bold;
}
a {
    color: #ffffff;
}
a:hover {    
    text-decoration: none;
    color: #ffffff;
}
/*Página produto.php*/
.borda{
    /*Borda gradiente da imagem principal;*/
    width: 320px;
    height: 320px;
    background: linear-gradient(45deg, #155724, #17a2b8, #51f8d4);
    border-radius: 50%;
    /* align-items: center; */
    margin: 0px auto 30px auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .4);
}
.borda img{
    margin: 10px;
    border-radius: 50%;
}
#detalhesproduto {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .4);
}
#detalhesproduto h1, h2{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 10px;
}
#detalhesproduto table{
    width: 100%;
}
#detalhesproduto tr:first-child{
    border-bottom: solid 1px #1b6e5c;
    color: #1b6e5c;
    font-weight: bolder;
    font-size: 20px;
}
#detalhesproduto h3{
    color: #1b6e5c;
    text-align: center;
    font-weight: 900;
    opacity: 0.8;
    font-size: 180px;
    margin: 0;
}
#detalhesproduto p{
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
/*Página site.php*/
#menu-anunciante{
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .4);
    text-align: center;
    width: 100%;
}
#menu-anunciante div{
    width: 190px;
    height: 202px;
    background-color: #1b6e5c;
    opacity: 0.8;
    margin: 8px;
    border-radius: 20px;
    /* position: absolute; */
    display: inline-block;
    font-weight: bolder;
}
#menu-anunciante span i{
    font-size: 100px;
    margin: 30px;
}
#menu-anunciante{
    text-align: center;
    font-weight: 900;
    margin: 0;
}
#menu-anunciante h1{
    color: #1b6e5c;
    font-weight: 900;
    opacity: 0.8;
    font-size: 60px;
    margin-bottom: 30px;
}
/*Página allAnuncio.php*/
#imgAnuncio > img{
    border-radius: 50%;
    border: solid 2px #088000;
    max-width: 150px;
    margin-left: 25px;
}
.chamadaPrincipal{
    color: #1b6e5c;
    font-weight: 900;
    opacity: 0.8;
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}
#ulAnuncio > li{
    padding: 0;
}
/*Página criarAnuncio.php*/







.clearmix{
    color: #1b6e5c;
    font-weight: 900;
    /*opacity: 0.8;
    font-size: 60px;*/
    margin-bottom: 30px;
}